body{
    margin:0;
    padding:0;
    background-color: #1b254a;
}

.profileBox-pic{
    border-radius: 50%;
    width:25%;
    margin-top:-10%;
    height:25%;
}

.profileBox{
    width:40%;
    height:65%;
    margin:auto;
    margin-top:15%;
    background-color: rgba(8, 9, 37, 0.5);
    color: white;
    text-align:center;
}



.profileBox-basic h3{
    display:inline;
    font-family: "Give You Glory";
}

.profileBox-info h4{
    text-decoration:underline;
    display:inline;
    font-family: 'Amatic SC', cursive;
}

.fa-book{
    color:white;
    font-size:125%;
}

.fa-book:hover{
    color:#b7adad;
}

